body{
  text-align: center;
}

.search-filter{
  width: 400px;
  height: 40px;
  font-size: 24px;
  padding-left : 25px;
  padding-right : 25px;
  border-radius: 0px;
  border: 1px solid grey;
}

.display-data {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.my-url {
  color: blue;
  cursor: pointer;
}
